<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>PartyPage</title>
</head>
<body>
    <div class="main-container">
        <div>
            <%-  include('../partials/header')%>
        </div>
<di class="main-flex-wrapper">
    <div id="index-h1">
        <h1>My Parties</h1>
    </div>
    <div id="all-parties">
    <div class="parties-container">
        <% parties && parties.forEach(party=>{%>
            <div class="parties-card" key="<%=party._id%>">
                <form method="post" action="/parties/<%=party._id%>/delete">
                    <button id="delete-icon-button" type="submit">
                        <img id="delete-icon" src="https://i.imgur.com/eeVLbU0.png" title="source: imgur.com" />
                    </button>
                <form>
                    <a href="/parties/<%=party._id%>/edit"><img id="edit-icon" src="https://i.imgur.com/4aLlVLw.png" title="source: imgur.com" /></a>
            <img id="card-img" src="<%=party.image%>" alt="<%=party.name%>"></img>       
            <h3><%=party.name%></h3>
            <h3><%=party.date%></h3>
            <a href="/parties/<%=party.id%>" class="form-button"> Details</a>
            </div>
        <%})%>
</div>
</di>
</div>
    </div>
</body>
</html>