<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>PartyPage</title>
</head>
<body>
    <div class="main-container">
        <div>
            <%-  include('../partials/header')%>
            <% if(user){ %>
                <%-  include('../partials/sideMenu')%>
              <% } else{ %>  
               <%null%>
             <% } %>
              </div>
    <div >
    <div class="parties-container">
        <div>
            <h1><%=party.name%></h1>
            <%if(user){%>
                <%if(user._id.toString() === party.host.toString()){%>
                    <h1>USER IS THE HOST</h1>
                    <%- include('../partials/createTicket.ejs') %>
                <%}else{%>
                    <h1>User is not the host</h1>
                    <%- include('../partials/buyTickets.ejs') %>
                <%}%>
            <%}else{%>
                <%=null%>
            <%}%>
           
           
        </div>
        

       
    </div>
</div>
    </div>
</body>
</html>