<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>PartyPage</title>
</head>
<body>
    <div class="main-container">
        <div>
            <%-  include('../partials/header')%>
        </div>

        <div class="top-party-container">
            <div class='party-display-container'>
                <img id="party-bg-pic" src='<%=party.image%>' alt='<%=party.name%>'/>
                <h1><%=party.name%></h1>
                <p><%=party.desc%></p>
                <p><%=party.date%></p>
                <p><%=party.location%></p>
                <p><%=party.price%></p>
                <%if(user){%>
                    <%if(user._id.toString() !== party.host.toString()){%>
          
                        <%- include('../partials/buyTickets.ejs') %>
                    <%}else{%>
                    
                        <%=null%>
                    <%}%>
                <%}else{%>
                    <%=null%>
                <%}%>
            </div>
            <div>
            <%if(user){%>
                <%if(user._id.toString() === party.host.toString()){%>
          
                    <%- include('../partials/createTicket.ejs') %>
                <%}else{%>
                
                    <%=null%>
                <%}%>
            <%}else{%>
                <%=null%>
            <%}%>
            </div>
        </div>
    </div>
</body>
</html>